/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    padding:0 50px;
    margin: 0px;/* pour que le hover soit en haut de la page*/
   
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


section{
    margin-bottom: 35px;
}


/********* Header ***************************/
    
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
   
}


header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    gap:68px;
    font-size: 16px;
}
  
  
header nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 0 ;
    text-decoration: none;
    

  
}
  
header nav li a:hover {
      color: #0065fc;
      border-top:#0065FC solid 2px;
}
  

.logo-box{
    display: flex;
    justify-content: flex-start;
    width: 161.09px;
    height: 79px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}



  
  #logo {
    width: 61.09px;
    height: 19px;
    padding: 30px 0;

    
    
    }
/* searchbar et filtres*/
.recherche-filtres{
    display: flex;
    flex-direction: column;
  justify-self: flex-start;
    gap: 35px;


   
 
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
   

    
}

::placeholder {
    color: black;
    font-weight: bold;
    text-align: center;
    height: 21px;
    opacity: 1;
  }

.search-box {
    display: flex;
    justify-content: flex-start;
    height: 49px;
    border-color:#F2F2F2;
    border-style: solid;
    width: 195px;
   
  }

.search-button {
    background-color: #0065FC;
    color: white;
    height: 49px;
    width: 132px;
    border-radius: 0 15px 15px 0;
    border-color: transparent;
    font-weight: bold;
  }

  .search-mobile {
    display: none;
  }

  


  .fa-location-dot{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    color:black;
    background-color: #F2F2F2;
    height: 49px;
    width: 50px; 
  }

    /* filtres*/

.filter-container{
    display: flex;
    justify-content: flex-start;
    margin-block: 20px;
    gap:15px; 




}
.filtre{
    display: flex;
    align-items: center;
    font-size: 18px;
   
 }
 
.btn-container{
    display: flex;
    gap:15px;

}
.btn{
    display:flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color:transparent;
    border-color: #D9D9D9;
    border-width: 1px;
    border-radius: 25px 25px 25px 25px ;
    font-weight: bold;
    border-style: solid;
    font-size: 17px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
       
    }

.btn:hover{
    background-color: #DEEBFF;

}
   



.fa-money-bill-wave{
     display: flex;
     align-items: center;
    width: 22px;
    height: 22px;
}

.fa-person{
    display: flex;
     align-items: center;
    width: 22px;
    height: 22px;
}
.fa-heart{
    display: flex;
     align-items: center;
    width: 22px;
    height:22px;
}
.fa-fire{
    display: flex;
     align-items: center;
    width: 22px;
    height:22px;
}

.info{
    display:flex;
    justify-content: flex-start;
    align-items: center;
   gap:10px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 170px;

 
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}


.hebergements-cards a {
    width: 30%;

}  

.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 0;
}

.hebergements-cards .card {
  
    width: 100%;
 
}

.hebergements-cards img {
    height: 124px;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  
    
}

.hebergements-cards .card-content {
    padding: 0 15px ;
    gap:8px;
    display: flex;
    flex-direction: column;
}



.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergementss .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
    
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Activités*/

.activites {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;

    }

.activites a{
    width: 100%;
}

.activites-cards {

    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    align-items: center;

  
}

.activites .card{
display: flex;
height: 439px;
flex-direction: column;
justify-content: flex-start;
padding: 0px;

}

.activites-cards img {

height: 380px;
width:100%;
border-radius: 20px 20px 0px 0px;
display: flex;
}

.activites .card-content .card-title {
 padding: 20px 19px;
 margin: 0;

   
}



/*Footer*/
footer {
    display: flex;
    background-color: #F2F2F2; 
    width:100%;
   

}

footer div {
    width: 33%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 15px;
    text-decoration: none;

   
}
footer div h3{
  margin:0;
   /* eviter le gap entre titre et liens*/
   font-size: 18px;
   font-weight: 700; 
 
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /* Main*/
body{
    padding: 0;
}
    .main-container {
        max-width: 1024px;
        padding: 0 50px;
        box-sizing: border-box;
    }
    

    .hebergements-and-populaires {
        flex-direction: column;
        margin-top: 0;
    }

    .hebergements {
        width: 100%;
    }
.hebergements-cards .card-content{
    gap:0px;
}
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {

        font-size: 13px;

        /*activités*/
    }
    .activites .card-title {

        padding: 0px;
      

    }

    .activites .card {
            padding: 0px;
            height: 270px;
        }
    .activites-cards img {
            height: 200px;
  
        }

    .activites .card-content {
        height: 70px;
    }

  /*filtres (titre au dessus)*/
        
        .filter-container{
            flex-direction: column;
        }

        .filtre {
            margin: 0px;
        }

        .filter-container .btn {
            height: 50px;
        }

    }

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /***** main ************/
    body{
        padding:0;
        margin: 0;

    }
    header nav {
        position: relative;
        width: 100%;
    }
    .main-container{
        padding: 0;
    }
    /******Header**************/
    header {
        flex-direction: column;
        align-items: center;
    }
   .logo-box{
    justify-content: center;

    }
    header nav ul{
        justify-content: center;
        gap: 0px;
    }

    header nav li  {
        width: 50%;
    }

    header nav li a:hover {
        color: #0065fc;
        border-bottom: #0065FC solid 2px;
        border-top: none;
    }
  

    /**********filtres****************/

  .recherche-filtres{
        padding: 0 20px;
    }
    .filter-container{
        gap:20px;
    }
    .btn-container{
        flex-wrap: wrap;
        gap:20px;
    }
    /*hebergements et populaires*/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
     
    
    }
 /*hebergements*/
    section.hebergements{
        background-color: white;
        padding: 20px;
    }

    .hebergements-cards{
        flex-direction: column;
        
        gap:15px;
    }
    .hebergements-cards a {
        width: 100%;
    }
    .hebergements-title{
    text-wrap: nowrap;
    }
    .activites{
      gap:15px;
    }
 
    .activites-cards{
        flex-direction: column;
        gap:15px;
    }
    section.populaires{
        padding: 30px 20px;
        margin-top:0

    }
    .populaires-cards{
        flex-direction: column;
    }
    .populaires-cards a {
        width: 100%;
    }
    .populaires-cards .card{
        margin-top: 15px;
    }
    /******Footer**********/
    footer{
        flex-direction: column;
        gap:50px;
        padding: 30px 0 30px 30px;
        width:auto
    }
    footer div{
        padding:0
    }
    .search-mobile {
        display: block;
     }
    
    .search-mobile .fa-solid {
        color: white;
    }

  .search-desktop {
    display: none;
  }
  
  .search-button {
    height: 49px;
    width: 50px;
  }
 .btn-container .btn {
    width: min(130px);
    font-size: 14px;
 }
}